/* Universal */


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Resuable */
.yellow-button {
    background-color: #FFD700;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.yellow-button button:hover {
    background-color: #FFC107;
}


/* Nav Section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.yellow-button button {
    background-color: #FFD700;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo div {
    margin-left: 10px;
}



.logo div h2 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.nav-buttons ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
}

.nav-buttons ul li {
    list-style: none;
} 

.nav-buttons ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-buttons ul li a:hover {
    color: #FFD700;
}




/* hero section */
.hero-section {
    background-image: url('./assests/Background.png');
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: #fff;
    padding: 50px 20px;
}

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.hero-section h2 {
    font-size: 70px;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 600px;
}

.hero-section .yellow-button {
    background-color: #FFD700;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
}



/* stats-section */
.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #FFD700;
    margin: 10px;
    padding: 20px;
}

.stat-boxes {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.stat-boxes p {
    
    
    color: black;
}

.stat-boxes h4 {
    font-size: 60px;
    font-weight: bold;
    color: black;
}